In [1]:
import pandas as pd

### Данные о бронировании отелей

In [6]:
bookings = pd.read_csv('C:/Users/Asus/Downloads/bookings.csv', sep = ';')

In [11]:
bookings_head = bookings.head(5)

In [12]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [14]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

Привести названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [15]:
names = bookings.columns.str.lower().str.replace(' ', '_')

In [16]:
names

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
new_columns = names.values

In [18]:
old_columns = bookings.columns

In [19]:
old_columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [20]:
bookings.columns = new_columns

In [21]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

Пользователи из каких стран совершили наибольшее число успешных бронирований?

In [22]:
bookings.query('is_canceled == 0') \
    .groupby('country', as_index = False) \
    .agg({'hotel': 'count'}) \
    .sort_values('hotel', ascending = False) \
    .head(5)

    country  hotel
125     PRT  21071
57      GBR   9676
54      FRA   8481
50      ESP   6391
42      DEU   6069

На сколько ночей в среднем бронируют отели разных типов?

In [24]:
bookings.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [26]:
bookings.groupby('hotel', as_index = False) \
    .agg({'stays_total_nights': 'mean'}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

Сколько случаев, когда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type).

In [66]:
bookings.query('reserved_room_type != assigned_room_type') \
    .agg({'hotel': 'size'})

hotel    14917
dtype: int64

На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?

In [56]:
bookings.query('arrival_date_year == 2016 and is_canceled == 0') \
    .groupby(['arrival_date_month'], as_index = False) \
    .agg({'hotel': 'count'}) \
    .sort_values('hotel', ascending=False)

   arrival_date_month  hotel
10            October   3689
8                 May   3563
11          September   3372
0               April   3367
7               March   3347
1              August   3238
6                June   3196
5                July   3073
9            November   2818
3            February   2554
2            December   2462
4             January   1691

In [55]:
bookings.query('arrival_date_year == 2017 and is_canceled == 0') \
    .groupby(['arrival_date_month'], as_index = False) \
    .agg({'hotel': 'count'}) \
    .sort_values('hotel', ascending=False)

  arrival_date_month  hotel
7                May   3551
4               July   3329
6              March   3298
5               June   3208
0              April   3198
1             August   3109
2           February   2818
3            January   2431

В 2017 году самым популярным месяцем по количеству успешных бронирований стал май, а в 2016 был октябрь.

На какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов?

In [60]:
bookings.query('is_canceled = 1' and 'hotel == "City Hotel"') \
    .groupby(['arrival_date_year', 'arrival_date_month']) \
    .agg({'is_canceled': 'count'}) \
    .sort_values(['arrival_date_year', 'is_canceled'])

                                      is_canceled
arrival_date_year arrival_date_month
2015              November                   1235
                  July                       1398
                  December                   1654
                  August                     2480
                  October                    3386
                  September                  3529
2016              January                    1364
                  February                   2371
                  December                   2478
                  March                      3046
                  November                   3122
                  July                       3131
                  August                     3378
                  April                      3561
                  May                        3676
                  September                  3871
                  June                       3923
                  October                    4219
2017              January                    2372
                  February                   2594
                  August                     3125
                  March                      3412
                  July                       3559
                  April                      3919
                  June                       3971
                  May                        4556

Наибольшее кол-во отмен пришлось на сентябрь 2015, октябрь 2016 и май 2017 года.

Числовые характеристики по adults, children и babies. Наибольшее среднее у взрослых.

In [61]:
bookings[['adults', 'children', 'babies']].describe().round(2)

          adults  children     babies
count  119390.00  119386.0  119390.00
mean        1.86       0.1       0.01
std         0.58       0.4       0.10
min         0.00       0.0       0.00
25%         2.00       0.0       0.00
50%         2.00       0.0       0.00
75%         2.00       0.0       0.00
max        55.00      10.0      10.00

Создать колонку с детьми.  Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [62]:
bookings['total_kids'] = bookings.children + bookings.babies

In [63]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0

In [68]:
bookings.groupby('hotel', as_index = False) \
    .agg({'total_kids': 'count'}).round(2)

          hotel  total_kids
0    City Hotel       79326
1  Resort Hotel       40060

У клиентов с детьми больше пользуются популярностью отели типа City Hotel

Столбец has_kids = True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False.

In [69]:
bookings['has_kids'] = bookings.total_kids >= 1

churn rate - отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах. Среди какой группы показатель выше?

In [74]:
canceled_orders = bookings.query('is_canceled == 1') \
        .groupby('has_kids', as_index = False) \
        .is_canceled.count()
canceled_orders

   has_kids  is_canceled
0     False        40965
1      True         3259

In [75]:
all_orders = bookings \
        .groupby('has_kids', as_index = False) \
        .is_canceled.count()
all_orders

   has_kids  is_canceled
0     False       110058
1      True         9332

In [78]:
(canceled_orders['is_canceled'] / all_orders['is_canceled']).mul(100).round(2)

0    37.22
1    34.92
Name: is_canceled, dtype: float64

среди бездетной группы показатель оттока выше